apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "jira.fullname" . }}-efs-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: ""
  volumeName: {{ include "jira.fullname" . }}-efs-pv
